<h1>All Articles:</h1>

<ol>
@foreach (Article article in Model)
{
    <ul>
        <li>Title: @article.Display_Title</li>
        <li>Rating: @article.MPAA_Rating</li>
        <li>Headline: @article.Headline)</li>
        <li>Summary: @article.Summary_Short)</li>
        <li>Publication Date: @article.Publication_Date)</li>
    </ul>
    <br>
}
</ol>